[submodule "gateway"]
	path = gateway
	url = https://github.com/bluemediaapp/gateway
[submodule "data-outlet"]
	path = data-outlet
	url = https://github.com/bluemediaapp/data-outlet
[submodule "interactions"]
	path = interactions
	url = https://github.com/bluemediaapp/interactions
[submodule "recommendation-service"]
	path = recommendation-service
	url = https://github.com/bluemediaapp/recommendation-service
[submodule "cdn"]
	path = cdn
	url = https://github.com/bluemediaapp/cdn
[submodule "users"]
	path = users
	url = https://github.com/bluemediaapp/users
